<div class="google-rezension-plugin {{ d.extraClass }}">
    <div class="google-rezension-card" style="max-width: 25rem; background-color: {{ d.bg_color }}">
        <div class="card-body position-relative">
            <div class="rezension-card-name">{{ d.name }}</div>
            <p class="star-wrapper card-text card-small fs-6">
                {{ d.user_rating }}
                {% autoescape false %}
                    {{ d.stars }}
                {% endautoescape %}
                <a target="_blank" class="google-car-link text-decoration-none"
                   title="{{ d.name }}"
                   href="https://www.google.com/search?q={{ d.google_url }}">
                    {{ d.user_ratings_total }} {{ d.l.google }}-{{ d.lang_rezension }}
                </a>
            </p>
        </div>
    </div>
</div>